{% extends "base.html" %}
{% block title %}Privacy Policy{% endblock title %}
{% block content%}
    <h2>Privacy Policy</h2>
    <h3>Welcome!!</h3>

    <!-- Политика конфиденциальности: в соответствии с тематикой разработанного сайта – свой стиль -->
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 20px;
            padding: 20px;
        }
        h2 {
            color: #333;
            text-align: center;
            margin-top: 20px;
        }
    </style>
{% endblock content %}
